In [1]:
import tensorflow
import pandas as pd
import time
import numpy as np
import math


# tensorflow libraries
import tensorflow as tf
print("Num GPUs Available: ", len(tf.config.list_physical_devices('GPU')))

import tensorflow.keras as keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Dropout, Embedding, concatenate, Input, Flatten

from tensorflow.keras import layers
from tensorflow.keras.layers import IntegerLookup
from tensorflow.keras.layers import Normalization
from tensorflow.keras.layers import StringLookup
from tensorflow.keras import optimizers

# sklearn libraries are useful for preprocessing, performance measures, etc.
from sklearn import preprocessing
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import Pipeline

Num GPUs Available:  1

In [2]:
import pandas as pd
df = pd.read_csv('file:/root/bryan/NG/csv-files/training.csv')
val_df = pd.read_csv('file:/root/bryan/NG/csv-files/validation.csv')

lat = df.pop("lat_3414")
lon = df.pop('lon_3414')
df.pop("floor_id")
df.pop("timestamp")
df.pop("type")
df.pop("latitude")
df.pop("longitude")


val_lat = val_df.pop("lat_3414")
val_lon = val_df.pop('lon_3414')
val_df.pop("floor_id")
val_df.pop("timestamp")
val_df.pop("type")
val_df.pop("latitude")
val_df.pop("longitude")

0      103.851602
1      103.851598
2      103.851594
3      103.851590
4      103.851586
          ...
692    103.851100
693    103.851105
694    103.851110
695    103.851114
696    103.851119
Name: longitude, Length: 697, dtype: float64

In [3]:
from math import radians, cos, sin, asin, sqrt

def single_pt_haversine(lat, lng, degrees=True):
    """
    'Single-point' Haversine: Calculates the great circle distance
    between a point on Earth and the (0, 0) lat-long coordinate
    """
    r = 6371 # Earth's radius (km). Have r = 3956 if you want miles

    # Convert decimal degrees to radians
    if degrees:
        lat, lng = map(radians, [lat, lng])

    # 'Single-point' Haversine formula
    a = sin(lat/2)**2 + cos(lat) * sin(lng/2)**2
    d = 2 * r * asin(sqrt(a)) 

    return d

In [4]:
def dataframe_to_dataset(dataframe, label):
    dataframe = dataframe.copy()
    labels = label
    ds = tf.data.Dataset.from_tensor_slices((dict(dataframe), labels))
    ds = ds.shuffle(buffer_size=len(dataframe))
    return ds

In [5]:
labels = []
for i in range (len(lat)):
  labels.append(single_pt_haversine(lat[i],lon[i]))
  # temp = []
  # temp.append(lat[i])
  # temp.append(lon[i])
  # labels.append(temp)


val_labels = []
for i in range (len(val_lat)):
  val_labels.append(single_pt_haversine(val_lat[i],val_lon[i]))
  # temp = []
  # temp.append(val_lat[i])
  # temp.append(val_lon[i])
  # val_labels.append(temp)

print(val_labels[2])


#print(val_df.iloc[[2]])

10067.921913690923

In [6]:
train_ds = dataframe_to_dataset(df, labels)

In [7]:

# report which features were selected by RFE
from sklearn.feature_selection import RFE
# define dataset
X, y = df, labels
# define RFE
rfe = RFE(estimator=RandomForestRegressor(), n_features_to_select=400)
# fit RFE
rfe.fit(X, y)
# summarize all features
for i in range(X.shape[1]):
	print('Column: %d, Selected %s, Rank: %.3f' % (i, rfe.support_[i], rfe.ranking_[i]))

Column: 0, Selected False, Rank: 447.000
Column: 1, Selected False, Rank: 289.000
Column: 2, Selected False, Rank: 369.000
Column: 3, Selected False, Rank: 160.000
Column: 4, Selected False, Rank: 368.000
Column: 5, Selected False, Rank: 180.000
Column: 6, Selected False, Rank: 112.000
Column: 7, Selected False, Rank: 350.000
Column: 8, Selected False, Rank: 296.000
Column: 9, Selected False, Rank: 314.000
Column: 10, Selected True, Rank: 1.000
Column: 11, Selected True, Rank: 1.000
Column: 12, Selected True, Rank: 1.000
Column: 13, Selected False, Rank: 158.000
Column: 14, Selected False, Rank: 363.000
Column: 15, Selected False, Rank: 303.000
Column: 16, Selected False, Rank: 290.000
Column: 17, Selected False, Rank: 398.000
Column: 18, Selected False, Rank: 172.000
Column: 19, Selected False, Rank: 185.000
Column: 20, Selected False, Rank: 391.000
Column: 21, Selected True, Rank: 1.000
Column: 22, Selected False, Rank: 346.000
Column: 23, Selected False, Rank: 354.000
Column: 24, Selected True, Rank: 1.000
Column: 25, Selected False, Rank: 384.000
Column: 26, Selected False, Rank: 357.000
Column: 27, Selected True, Rank: 1.000
Column: 28, Selected False, Rank: 17.000
Column: 29, Selected True, Rank: 1.000
Column: 30, Selected True, Rank: 1.000
Column: 31, Selected True, Rank: 1.000
Column: 32, Selected True, Rank: 1.000
Column: 33, Selected True, Rank: 1.000
Column: 34, Selected True, Rank: 1.000
Column: 35, Selected True, Rank: 1.000
Column: 36, Selected True, Rank: 1.000
Column: 37, Selected True, Rank: 1.000
Column: 38, Selected True, Rank: 1.000
Column: 39, Selected True, Rank: 1.000
Column: 40, Selected True, Rank: 1.000
Column: 41, Selected True, Rank: 1.000
Column: 42, Selected True, Rank: 1.000
Column: 43, Selected True, Rank: 1.000
Column: 44, Selected False, Rank: 89.000
Column: 45, Selected False, Rank: 210.000
Column: 46, Selected False, Rank: 147.000
Column: 47, Selected False, Rank: 217.000
Column: 48, Selected False, Rank: 403.000
Column: 49, Selected False, Rank: 232.000
Column: 50, Selected False, Rank: 224.000
Column: 51, Selected False, Rank: 311.000
Column: 52, Selected False, Rank: 209.000
Column: 53, Selected False, Rank: 405.000
Column: 54, Selected False, Rank: 388.000
Column: 55, Selected True, Rank: 1.000
Column: 56, Selected True, Rank: 1.000
Column: 57, Selected True, Rank: 1.000
Column: 58, Selected True, Rank: 1.000
Column: 59, Selected True, Rank: 1.000
Column: 60, Selected True, Rank: 1.000
Column: 61, Selected False, Rank: 239.000
Column: 62, Selected False, Rank: 268.000
Column: 63, Selected False, Rank: 61.000
Column: 64, Selected False, Rank: 116.000
Column: 65, Selected False, Rank: 261.000
Column: 66, Selected False, Rank: 165.000
Column: 67, Selected False, Rank: 330.000
Column: 68, Selected False, Rank: 270.000
Column: 69, Selected False, Rank: 277.000
Column: 70, Selected False, Rank: 258.000
Column: 71, Selected False, Rank: 226.000
Column: 72, Selected False, Rank: 87.000
Column: 73, Selected False, Rank: 161.000
Column: 74, Selected False, Rank: 109.000
Column: 75, Selected True, Rank: 1.000
Column: 76, Selected False, Rank: 59.000
Column: 77, Selected True, Rank: 1.000
Column: 78, Selected False, Rank: 49.000
Column: 79, Selected False, Rank: 124.000
Column: 80, Selected False, Rank: 72.000
Column: 81, Selected True, Rank: 1.000
Column: 82, Selected True, Rank: 1.000
Column: 83, Selected True, Rank: 1.000
Column: 84, Selected True, Rank: 1.000
Column: 85, Selected True, Rank: 1.000
Column: 86, Selected True, Rank: 1.000
Column: 87, Selected False, Rank: 187.000
Column: 88, Selected False, Rank: 301.000
Column: 89, Selected False, Rank: 178.000
Column: 90, Selected False, Rank: 199.000
Column: 91, Selected False, Rank: 397.000
Column: 92, Selected False, Rank: 25.000
Column: 93, Selected False, Rank: 276.000
Column: 94, Selected False, Rank: 341.000
Column: 95, Selected False, Rank: 108.000
Column: 96, Selected True, Rank: 1.000
Column: 97, Selected True, Rank: 1.000
Column: 98, Selected True, Rank: 1.000
Column: 99, Selected True, Rank: 1.000
Column: 100, Selected True, Rank: 1.000
Column: 101, Selected True, Rank: 1.000
Column: 102, Selected False, Rank: 24.000
Column: 103, Selected False, Rank: 157.000
Column: 104, Selected False, Rank: 54.000
Column: 105, Selected True, Rank: 1.000
Column: 106, Selected True, Rank: 1.000
Column: 107, Selected True, Rank: 1.000
Column: 108, Selected False, Rank: 312.000
Column: 109, Selected False, Rank: 413.000
Column: 110, Selected False, Rank: 412.000
Column: 111, Selected True, Rank: 1.000
Column: 112, Selected True, Rank: 1.000
Column: 113, Selected True, Rank: 1.000
Column: 114, Selected True, Rank: 1.000
Column: 115, Selected True, Rank: 1.000
Column: 116, Selected True, Rank: 1.000
Column: 117, Selected False, Rank: 351.000
Column: 118, Selected False, Rank: 377.000
Column: 119, Selected True, Rank: 1.000
Column: 120, Selected False, Rank: 16.000
Column: 121, Selected True, Rank: 1.000
Column: 122, Selected False, Rank: 21.000
Column: 123, Selected False, Rank: 131.000
Column: 124, Selected True, Rank: 1.000
Column: 125, Selected True, Rank: 1.000
Column: 126, Selected False, Rank: 56.000
Column: 127, Selected True, Rank: 1.000
Column: 128, Selected False, Rank: 437.000
Column: 129, Selected False, Rank: 316.000
Column: 130, Selected False, Rank: 323.000
Column: 131, Selected False, Rank: 184.000
Column: 132, Selected False, Rank: 219.000
Column: 133, Selected False, Rank: 295.000
Column: 134, Selected False, Rank: 438.000
Column: 135, Selected False, Rank: 279.000
Column: 136, Selected True, Rank: 1.000
Column: 137, Selected True, Rank: 1.000
Column: 138, Selected True, Rank: 1.000
Column: 139, Selected True, Rank: 1.000
Column: 140, Selected True, Rank: 1.000
Column: 141, Selected True, Rank: 1.000
Column: 142, Selected False, Rank: 262.000
Column: 143, Selected False, Rank: 436.000
Column: 144, Selected False, Rank: 265.000
Column: 145, Selected False, Rank: 373.000
Column: 146, Selected False, Rank: 293.000
Column: 147, Selected False, Rank: 448.000
Column: 148, Selected False, Rank: 389.000
Column: 149, Selected True, Rank: 1.000
Column: 150, Selected True, Rank: 1.000
Column: 151, Selected True, Rank: 1.000
Column: 152, Selected True, Rank: 1.000
Column: 153, Selected True, Rank: 1.000
Column: 154, Selected True, Rank: 1.000
Column: 155, Selected False, Rank: 428.000
Column: 156, Selected False, Rank: 234.000
Column: 157, Selected False, Rank: 342.000
Column: 158, Selected False, Rank: 348.000
Column: 159, Selected False, Rank: 308.000
Column: 160, Selected False, Rank: 231.000
Column: 161, Selected False, Rank: 267.000
Column: 162, Selected False, Rank: 215.000
Column: 163, Selected True, Rank: 1.000
Column: 164, Selected True, Rank: 1.000
Column: 165, Selected True, Rank: 1.000
Column: 166, Selected True, Rank: 1.000
Column: 167, Selected True, Rank: 1.000
Column: 168, Selected True, Rank: 1.000
Column: 169, Selected False, Rank: 298.000
Column: 170, Selected False, Rank: 400.000
Column: 171, Selected False, Rank: 251.000
Column: 172, Selected False, Rank: 444.000
Column: 173, Selected True, Rank: 1.000
Column: 174, Selected True, Rank: 1.000
Column: 175, Selected True, Rank: 1.000
Column: 176, Selected True, Rank: 1.000
Column: 177, Selected True, Rank: 1.000
Column: 178, Selected True, Rank: 1.000
Column: 179, Selected True, Rank: 1.000
Column: 180, Selected False, Rank: 39.000
Column: 181, Selected False, Rank: 42.000
Column: 182, Selected True, Rank: 1.000
Column: 183, Selected True, Rank: 1.000
Column: 184, Selected True, Rank: 1.000
Column: 185, Selected True, Rank: 1.000
Column: 186, Selected False, Rank: 5.000
Column: 187, Selected True, Rank: 1.000
Column: 188, Selected True, Rank: 1.000
Column: 189, Selected True, Rank: 1.000
Column: 190, Selected True, Rank: 1.000
Column: 191, Selected False, Rank: 439.000
Column: 192, Selected False, Rank: 114.000
Column: 193, Selected False, Rank: 79.000
Column: 194, Selected True, Rank: 1.000
Column: 195, Selected True, Rank: 1.000
Column: 196, Selected True, Rank: 1.000
Column: 197, Selected True, Rank: 1.000
Column: 198, Selected False, Rank: 137.000
Column: 199, Selected False, Rank: 282.000
Column: 200, Selected False, Rank: 153.000
Column: 201, Selected True, Rank: 1.000
Column: 202, Selected True, Rank: 1.000
Column: 203, Selected True, Rank: 1.000
Column: 204, Selected True, Rank: 1.000
Column: 205, Selected True, Rank: 1.000
Column: 206, Selected True, Rank: 1.000
Column: 207, Selected True, Rank: 1.000
Column: 208, Selected True, Rank: 1.000
Column: 209, Selected True, Rank: 1.000
Column: 210, Selected True, Rank: 1.000
Column: 211, Selected True, Rank: 1.000
Column: 212, Selected True, Rank: 1.000
Column: 213, Selected True, Rank: 1.000
Column: 214, Selected True, Rank: 1.000
Column: 215, Selected True, Rank: 1.000
Column: 216, Selected False, Rank: 238.000
Column: 217, Selected False, Rank: 319.000
Column: 218, Selected False, Rank: 229.000
Column: 219, Selected False, Rank: 110.000
Column: 220, Selected False, Rank: 203.000
Column: 221, Selected False, Rank: 64.000
Column: 222, Selected False, Rank: 358.000
Column: 223, Selected False, Rank: 250.000
Column: 224, Selected False, Rank: 364.000
Column: 225, Selected False, Rank: 241.000
Column: 226, Selected False, Rank: 329.000
Column: 227, Selected False, Rank: 443.000
Column: 228, Selected False, Rank: 294.000
Column: 229, Selected False, Rank: 352.000
Column: 230, Selected False, Rank: 122.000
Column: 231, Selected False, Rank: 197.000
Column: 232, Selected False, Rank: 57.000
Column: 233, Selected False, Rank: 104.000
Column: 234, Selected False, Rank: 22.000
Column: 235, Selected False, Rank: 47.000
Column: 236, Selected True, Rank: 1.000
Column: 237, Selected True, Rank: 1.000
Column: 238, Selected True, Rank: 1.000
Column: 239, Selected False, Rank: 173.000
Column: 240, Selected False, Rank: 101.000
Column: 241, Selected False, Rank: 34.000
Column: 242, Selected True, Rank: 1.000
Column: 243, Selected True, Rank: 1.000
Column: 244, Selected True, Rank: 1.000
Column: 245, Selected True, Rank: 1.000
Column: 246, Selected True, Rank: 1.000
Column: 247, Selected True, Rank: 1.000
Column: 248, Selected True, Rank: 1.000
Column: 249, Selected True, Rank: 1.000
Column: 250, Selected True, Rank: 1.000
Column: 251, Selected False, Rank: 247.000
Column: 252, Selected False, Rank: 420.000
Column: 253, Selected False, Rank: 385.000
Column: 254, Selected False, Rank: 310.000
Column: 255, Selected False, Rank: 429.000
Column: 256, Selected False, Rank: 252.000
Column: 257, Selected False, Rank: 383.000
Column: 258, Selected False, Rank: 393.000
Column: 259, Selected False, Rank: 376.000
Column: 260, Selected False, Rank: 259.000
Column: 261, Selected True, Rank: 1.000
Column: 262, Selected True, Rank: 1.000
Column: 263, Selected True, Rank: 1.000
Column: 264, Selected True, Rank: 1.000
Column: 265, Selected True, Rank: 1.000
Column: 266, Selected True, Rank: 1.000
Column: 267, Selected True, Rank: 1.000
Column: 268, Selected True, Rank: 1.000
Column: 269, Selected True, Rank: 1.000
Column: 270, Selected True, Rank: 1.000
Column: 271, Selected True, Rank: 1.000
Column: 272, Selected True, Rank: 1.000
Column: 273, Selected False, Rank: 253.000
Column: 274, Selected False, Rank: 336.000
Column: 275, Selected False, Rank: 221.000
Column: 276, Selected False, Rank: 254.000
Column: 277, Selected False, Rank: 195.000
Column: 278, Selected True, Rank: 1.000
Column: 279, Selected True, Rank: 1.000
Column: 280, Selected True, Rank: 1.000
Column: 281, Selected True, Rank: 1.000
Column: 282, Selected True, Rank: 1.000
Column: 283, Selected True, Rank: 1.000
Column: 284, Selected True, Rank: 1.000
Column: 285, Selected True, Rank: 1.000
Column: 286, Selected True, Rank: 1.000
Column: 287, Selected True, Rank: 1.000
Column: 288, Selected True, Rank: 1.000
Column: 289, Selected True, Rank: 1.000
Column: 290, Selected False, Rank: 445.000
Column: 291, Selected False, Rank: 220.000
Column: 292, Selected False, Rank: 394.000
Column: 293, Selected False, Rank: 236.000
Column: 294, Selected False, Rank: 332.000
Column: 295, Selected False, Rank: 446.000
Column: 296, Selected False, Rank: 202.000
Column: 297, Selected False, Rank: 366.000
Column: 298, Selected False, Rank: 225.000
Column: 299, Selected False, Rank: 347.000
Column: 300, Selected False, Rank: 434.000
Column: 301, Selected False, Rank: 335.000
Column: 302, Selected False, Rank: 333.000
Column: 303, Selected False, Rank: 285.000
Column: 304, Selected True, Rank: 1.000
Column: 305, Selected True, Rank: 1.000
Column: 306, Selected True, Rank: 1.000
Column: 307, Selected False, Rank: 344.000
Column: 308, Selected False, Rank: 365.000
Column: 309, Selected False, Rank: 300.000
Column: 310, Selected False, Rank: 339.000
Column: 311, Selected True, Rank: 1.000
Column: 312, Selected False, Rank: 63.000
Column: 313, Selected True, Rank: 1.000
Column: 314, Selected True, Rank: 1.000
Column: 315, Selected True, Rank: 1.000
Column: 316, Selected True, Rank: 1.000
Column: 317, Selected False, Rank: 325.000
Column: 318, Selected False, Rank: 423.000
Column: 319, Selected False, Rank: 189.000
Column: 320, Selected False, Rank: 171.000
Column: 321, Selected False, Rank: 240.000
Column: 322, Selected False, Rank: 372.000
Column: 323, Selected True, Rank: 1.000
Column: 324, Selected True, Rank: 1.000
Column: 325, Selected True, Rank: 1.000
Column: 326, Selected True, Rank: 1.000
Column: 327, Selected True, Rank: 1.000
Column: 328, Selected True, Rank: 1.000
Column: 329, Selected False, Rank: 435.000
Column: 330, Selected False, Rank: 356.000
Column: 331, Selected False, Rank: 440.000
Column: 332, Selected False, Rank: 416.000
Column: 333, Selected False, Rank: 117.000
Column: 334, Selected False, Rank: 183.000
Column: 335, Selected False, Rank: 142.000
Column: 336, Selected True, Rank: 1.000
Column: 337, Selected False, Rank: 29.000
Column: 338, Selected True, Rank: 1.000
Column: 339, Selected True, Rank: 1.000
Column: 340, Selected True, Rank: 1.000
Column: 341, Selected True, Rank: 1.000
Column: 342, Selected True, Rank: 1.000
Column: 343, Selected True, Rank: 1.000
Column: 344, Selected True, Rank: 1.000
Column: 345, Selected True, Rank: 1.000
Column: 346, Selected False, Rank: 3.000
Column: 347, Selected True, Rank: 1.000
Column: 348, Selected True, Rank: 1.000
Column: 349, Selected True, Rank: 1.000
Column: 350, Selected True, Rank: 1.000
Column: 351, Selected True, Rank: 1.000
Column: 352, Selected True, Rank: 1.000
Column: 353, Selected True, Rank: 1.000
Column: 354, Selected True, Rank: 1.000
Column: 355, Selected True, Rank: 1.000
Column: 356, Selected True, Rank: 1.000
Column: 357, Selected False, Rank: 38.000
Column: 358, Selected False, Rank: 269.000
Column: 359, Selected False, Rank: 97.000
Column: 360, Selected False, Rank: 105.000
Column: 361, Selected False, Rank: 141.000
Column: 362, Selected False, Rank: 163.000
Column: 363, Selected False, Rank: 30.000
Column: 364, Selected False, Rank: 200.000
Column: 365, Selected True, Rank: 1.000
Column: 366, Selected False, Rank: 18.000
Column: 367, Selected False, Rank: 129.000
Column: 368, Selected False, Rank: 46.000
Column: 369, Selected True, Rank: 1.000
Column: 370, Selected True, Rank: 1.000
Column: 371, Selected True, Rank: 1.000
Column: 372, Selected True, Rank: 1.000
Column: 373, Selected True, Rank: 1.000
Column: 374, Selected True, Rank: 1.000
Column: 375, Selected True, Rank: 1.000
Column: 376, Selected True, Rank: 1.000
Column: 377, Selected True, Rank: 1.000
Column: 378, Selected True, Rank: 1.000
Column: 379, Selected True, Rank: 1.000
Column: 380, Selected True, Rank: 1.000
Column: 381, Selected False, Rank: 306.000
Column: 382, Selected False, Rank: 174.000
Column: 383, Selected False, Rank: 139.000
Column: 384, Selected False, Rank: 340.000
Column: 385, Selected False, Rank: 170.000
Column: 386, Selected True, Rank: 1.000
Column: 387, Selected True, Rank: 1.000
Column: 388, Selected True, Rank: 1.000
Column: 389, Selected True, Rank: 1.000
Column: 390, Selected True, Rank: 1.000
Column: 391, Selected True, Rank: 1.000
Column: 392, Selected False, Rank: 31.000
Column: 393, Selected False, Rank: 81.000
Column: 394, Selected True, Rank: 1.000
Column: 395, Selected True, Rank: 1.000
Column: 396, Selected True, Rank: 1.000
Column: 397, Selected True, Rank: 1.000
Column: 398, Selected False, Rank: 415.000
Column: 399, Selected False, Rank: 378.000
Column: 400, Selected False, Rank: 370.000
Column: 401, Selected True, Rank: 1.000
Column: 402, Selected True, Rank: 1.000
Column: 403, Selected True, Rank: 1.000
Column: 404, Selected True, Rank: 1.000
Column: 405, Selected True, Rank: 1.000
Column: 406, Selected True, Rank: 1.000
Column: 407, Selected True, Rank: 1.000
Column: 408, Selected False, Rank: 121.000
Column: 409, Selected False, Rank: 48.000
Column: 410, Selected True, Rank: 1.000
Column: 411, Selected True, Rank: 1.000
Column: 412, Selected True, Rank: 1.000
Column: 413, Selected False, Rank: 211.000
Column: 414, Selected False, Rank: 222.000
Column: 415, Selected False, Rank: 85.000
Column: 416, Selected False, Rank: 20.000
Column: 417, Selected False, Rank: 94.000
Column: 418, Selected True, Rank: 1.000
Column: 419, Selected False, Rank: 66.000
Column: 420, Selected False, Rank: 107.000
Column: 421, Selected False, Rank: 78.000
Column: 422, Selected True, Rank: 1.000
Column: 423, Selected True, Rank: 1.000
Column: 424, Selected True, Rank: 1.000
Column: 425, Selected False, Rank: 143.000
Column: 426, Selected False, Rank: 214.000
Column: 427, Selected False, Rank: 146.000
Column: 428, Selected True, Rank: 1.000
Column: 429, Selected True, Rank: 1.000
Column: 430, Selected True, Rank: 1.000
Column: 431, Selected False, Rank: 82.000
Column: 432, Selected False, Rank: 106.000
Column: 433, Selected False, Rank: 119.000
Column: 434, Selected True, Rank: 1.000
Column: 435, Selected True, Rank: 1.000
Column: 436, Selected True, Rank: 1.000
Column: 437, Selected False, Rank: 155.000
Column: 438, Selected False, Rank: 133.000
Column: 439, Selected False, Rank: 191.000
Column: 440, Selected False, Rank: 28.000
Column: 441, Selected False, Rank: 73.000
Column: 442, Selected False, Rank: 51.000
Column: 443, Selected False, Rank: 227.000
Column: 444, Selected False, Rank: 263.000
Column: 445, Selected False, Rank: 204.000
Column: 446, Selected True, Rank: 1.000
Column: 447, Selected True, Rank: 1.000
Column: 448, Selected True, Rank: 1.000
Column: 449, Selected True, Rank: 1.000
Column: 450, Selected True, Rank: 1.000
Column: 451, Selected True, Rank: 1.000
Column: 452, Selected False, Rank: 181.000
Column: 453, Selected False, Rank: 431.000
Column: 454, Selected False, Rank: 115.000
Column: 455, Selected True, Rank: 1.000
Column: 456, Selected False, Rank: 43.000
Column: 457, Selected True, Rank: 1.000
Column: 458, Selected False, Rank: 93.000
Column: 459, Selected False, Rank: 166.000
Column: 460, Selected False, Rank: 130.000
Column: 461, Selected True, Rank: 1.000
Column: 462, Selected False, Rank: 86.000
Column: 463, Selected True, Rank: 1.000
Column: 464, Selected False, Rank: 274.000
Column: 465, Selected False, Rank: 134.000
Column: 466, Selected False, Rank: 164.000
Column: 467, Selected False, Rank: 169.000
Column: 468, Selected False, Rank: 275.000
Column: 469, Selected False, Rank: 152.000
Column: 470, Selected True, Rank: 1.000
Column: 471, Selected False, Rank: 430.000
Column: 472, Selected False, Rank: 150.000
Column: 473, Selected True, Rank: 1.000
Column: 474, Selected False, Rank: 4.000
Column: 475, Selected True, Rank: 1.000
Column: 476, Selected False, Rank: 280.000
Column: 477, Selected False, Rank: 326.000
Column: 478, Selected True, Rank: 1.000
Column: 479, Selected False, Rank: 118.000
Column: 480, Selected False, Rank: 7.000
Column: 481, Selected True, Rank: 1.000
Column: 482, Selected False, Rank: 12.000
Column: 483, Selected True, Rank: 1.000
Column: 484, Selected False, Rank: 176.000

In [8]:
def get_index_positions(list_of_elems, element):
    ''' Returns the indexes of all occurrences of give element in
    the list- listOfElements '''
    index_pos_list = []
    index_pos = 0
    while True:
        try:
            # Search for item in list from indexPos to the end of list
            index_pos = list_of_elems.index(element, index_pos)
            # Add the index position in list
            index_pos_list.append(index_pos)
            index_pos += 1
        except ValueError as e:
            break
    return index_pos_list

In [9]:
selected = [] 
for i in range(X.shape[1]):
	#print('Column: %d, Selected %s, Rank: %.3f' % (i, rfe.support_[i], rfe.ranking_[i]))
  selected.append(rfe.support_[i])

print((selected[52]))

index_pos_list = get_index_positions(selected, False)
print((index_pos_list))

False
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 25, 26, 28, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 78, 79, 80, 87, 88, 89, 90, 91, 92, 93, 94, 95, 102, 103, 104, 108, 109, 110, 117, 118, 120, 122, 123, 126, 128, 129, 130, 131, 132, 133, 134, 135, 142, 143, 144, 145, 146, 147, 148, 155, 156, 157, 158, 159, 160, 161, 162, 169, 170, 171, 172, 180, 181, 186, 191, 192, 193, 198, 199, 200, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 239, 240, 241, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 273, 274, 275, 276, 277, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 307, 308, 309, 310, 312, 317, 318, 319, 320, 321, 322, 329, 330, 331, 332, 333, 334, 335, 337, 346, 357, 358, 359, 360, 361, 362, 363, 364, 366, 367, 368, 381, 382, 383, 384, 385, 392, 393, 398, 399, 400, 408, 409, 413, 414, 415, 416, 417, 419, 420, 421, 425, 426, 427, 431, 432, 433, 437, 438, 439, 440, 441, 442, 443, 444, 445, 452, 453, 454, 456, 458, 459, 460, 462, 464, 465, 466, 467, 468, 469, 471, 472, 474, 476, 477, 479, 480, 482, 484, 485, 486, 487, 488, 489, 496, 497, 498, 499, 500, 501, 509, 521, 526, 527, 528, 529, 530, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 549, 550, 562, 564, 565, 566, 568, 569, 573, 574, 575, 576, 577, 584, 585, 587, 588, 589, 591, 593, 594, 595, 597, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 612, 613, 614, 615, 616, 618, 619, 620, 621, 622, 623, 624, 625, 632, 633, 634, 635, 636, 637, 638, 641, 642, 643, 644, 645, 646, 647, 648, 650, 651, 652, 654, 655, 656, 669, 670, 671, 673, 675, 676, 677, 678, 679, 680, 681, 682, 684, 685, 686, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 719, 721, 722, 723, 724, 727, 729, 730, 731, 732, 733, 734, 735, 736, 738, 739, 740, 748, 751, 762, 763, 764, 769, 771, 772, 773, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 810, 811, 812, 813, 814, 815, 816, 817, 819, 820, 823, 824, 831, 832, 833, 835, 839, 840, 841, 842, 843, 845]

In [10]:
df_tosave = pd.read_csv('/root/bryan/NG/csv-files/training.csv')
val_df_tosave = pd.read_csv('/root/bryan/NG/csv-files/validation.csv')

In [11]:
df_tosave.drop(df_tosave.columns[index_pos_list], axis = 1, inplace = True)

In [12]:
df_tosave.head()

,WAP10,WAP11,WAP12,WAP21,WAP24,WAP27,WAP29,WAP30,WAP31,WAP32,...,WAP838,WAP844,WAP846,floor_id,timestamp,longitude,latitude,type,lon_3414,lat_3414
0,-110,-110,-110,-110,-110,-110,-110,-110,-110,-110,...,-110,-110,-110,2,1.630000e+12,103.851602,1.290576,truth,30034.832791,30330.891589
1,-110,-110,-110,-110,-110,-110,-110,-110,-110,-110,...,-110,-84,-110,2,1.630000e+12,103.851598,1.290569,pseudo,30034.365372,30330.111037
2,-110,-110,-110,-110,-110,-110,-110,-110,-110,-110,...,-110,-110,-110,2,1.630000e+12,103.851594,1.290562,pseudo,30033.897954,30329.330486
3,-110,-110,-110,-110,-110,-110,-110,-110,-110,-110,...,-110,-87,-110,2,1.630000e+12,103.851590,1.290555,pseudo,30033.419406,30328.549935
4,-110,-110,-110,-110,-110,-110,-110,-110,-110,-110,...,-110,-80,-110,2,1.630000e+12,103.851585,1.290548,pseudo,30032.951988,30327.769384

In [13]:
df_tosave.to_csv("/root/bryan/NG/csv-files/rfe-train.csv",index=False)

In [14]:
val_df_tosave.drop(val_df_tosave.columns[index_pos_list], axis = 1, inplace = True)
val_df_tosave.head()

,WAP10,WAP11,WAP12,WAP21,WAP24,WAP27,WAP29,WAP30,WAP31,WAP32,...,WAP838,WAP844,WAP846,floor_id,timestamp,longitude,latitude,type,lon_3414,lat_3414
0,-110,-110,-110,-110,-110,-110,-110,-110,-110,-110,...,-110,-110,-110,2,1.630000e+12,103.851602,1.290576,truth,30034.832791,30330.891589
1,-110,-110,-110,-110,-110,-110,-110,-110,-110,-110,...,-110,-91,-110,2,1.630000e+12,103.851598,1.290569,pseudo,30034.387630,30330.143547
2,-110,-110,-110,-110,-110,-110,-110,-110,-110,-110,...,-110,-110,-110,2,1.630000e+12,103.851594,1.290563,pseudo,30033.931341,30329.395505
3,-110,-110,-110,-110,-110,-110,-110,-110,-110,-110,...,-110,-110,-110,2,1.630000e+12,103.851590,1.290556,pseudo,30033.486180,30328.647463
4,-110,-110,-110,-110,-110,-110,-110,-110,-110,-110,...,-110,-110,-110,2,1.630000e+12,103.851586,1.290549,pseudo,30033.029891,30327.899420

In [15]:
val_df_tosave.to_csv("/root/bryan/NG/csv-files/rfe-test.csv",index=False)